body{
    background-color: #000;
    color: #FFF;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 100px;
}

#ip{
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}
